.card {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    border-radius: 1vh;
    border-width: 0.5vh;
    border-style: solid;
    margin: 1vh 0.7vw;
    margin-bottom: 0;
    padding: 0;
    height: var(--card-height);
    cursor: pointer;
    overflow: hidden;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-user-select: none;
    user-select: none;
    transition-property: all;
    transition-duration: 300ms;
    transform-origin: center center;
}

@media screen and (max-width: 950px) {
    .card {
        border-width: 0.3vh;
    }
}

.card:hover {
    border-style: groove;
    box-shadow: 3px 3px 6px;
}

.card img {
    margin: 0;
    /* 原卡片大小：256*256 */
    object-fit: cover;
    flex-grow: 1;
    width: calc(var(--card-height) * 0.8);
    display: block;
    box-sizing: border-box;
    border-top-left-radius: 0.6vh;
    border-top-right-radius: 0.6vh;
}

.card>p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
    display: block;
    text-align: center;
    height: calc(var(--card-height) * 0.2);
    font-size: calc(var(--card-height) * 0.11);
    border-bottom-left-radius: 0.6vh;
    border-bottom-right-radius: 0.6vh;
    font-family: '华文中宋', '宋体';
    transition-property: all;
    transition-duration: 0.3s;
}

.cryo {
    color: #17b7e8;
    border-color: #17b7e8;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #17b7e8;
}

.dendro {
    color: #519603;
    border-color: #519603;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #519603;
}

.hydro {
    color: #1e78c7;
    border-color: #1e78c7;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #1e78c7;
}

.electro {
    color: #6957C2;
    border-color: #6957C2;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #6957C2;
}

.geo {
    color: #a58401;
    border-color: #a58401;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #a58401;
}

.pyro {
    color: #EC4923;
    border-color: #EC4923;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #EC4923;
}

.anemo {
    color: #18a9ac;
    border-color: #18a9ac;
    box-shadow: inset 0 0 0.7vh #ffffff, 0 0 1.2vh #18a9ac;
}

.starR {
    background-image: linear-gradient(135deg, #ff00cc90, #33339990);
    transition-property: all;
    transition-duration: 200ms;
}

.starR:hover {
    background-image: none;
    background-color: #ffffff70;
    color: #000000;
}

.starS {
    background-image: linear-gradient(135deg, #f1271190, #f5af1990);
    transition-property: all;
    transition-duration: 200ms;
}

.starS:hover {
    background-image: none;
    background-color: #ffffff70;
    color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    /* border: 0.2vh solid #00000020;*/
    border-radius: 2.5vh;
    margin: 0.6vh;
    width: -moz-fit-content;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.SUpContainer {
    border-radius: 0.6vw;
    background-image: linear-gradient(-45deg, #FF8008D0, #FFC837D0);
}

.RUpContainer {
    border-radius: 0.6vw;
    background-image: linear-gradient(135deg, #f4c4f370, #fc67fa70);
}

.container>p {
    margin: 0;
    font-size: calc(var(--universal-font-size) / 2.1);
    text-align: center;
}

.container p.veryMark {
    display: block;
    font-size: calc(var(--universal-font-size) / 1.0);
}