form#GachaForm * {
    font-size: 24px;
}

form#GachaForm p {
    display: inline;
    font-family: '华文中宋';
}

.interface_button {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
    font-family: '微软雅黑';
    background-blend-mode: screen;
    border-style: solid;
    border-radius: 12px;
    border-width: 3px;
    transition-property: all;
    transition-duration: 300ms;
}

input[type="number"] {
    font-family: Arial, Helvetica, sans-serif;
    margin: 4px;
    width: 90px;
    transition-property: all;
    transition-duration: 0.3s;
}

label {
    font-family: '华文中宋';
    transition-property: all;
    transition-duration: 0.3s;
}

.radio_type+label {
    margin: 2px;
    padding: 3px;
    display: inline-block;
    text-align: left;
    border-radius: 8px;
    border-style: solid;
}

.radio_type:checked+label {
    margin: 2px;
    padding: 3px;
    display: inline-block;
    text-align: left;
    border-radius: 8px;
    border-style: solid;
}