input[type="number"] {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.2vw;
    width: 6em;
    transition-property: all;
    transition-duration: 0.3s;
}

label {
    border-radius: 0.9vw;
    margin: 0.2vw;
    padding: 0.3vw;
    cursor: pointer;
    font-family: '华文中宋', "Tinos Nerd Propo";
    transition-property: all;
    transition-duration: 0.3s;
}

.radio_type+label {
    display: inline-block;
    text-align: left;
    border-style: solid;
}

.radio_type+label::before {
    content: "";
}

.radio_type:checked+label {
    display: inline-block;
    text-align: left;
    border-style: solid;
}

.radio_type:checked+label::before {
    content: "";
}