@font-face {
    font-family: "Tinos Nerd Propo";
    src: url(../fonts/TinosNerdFontPropo-Regular.ttf);
}

:root {
    --color-A: #aaaaaa;
    --color-B: #bbbbbb;
}

* {
    margin: 0;
}

div.section {
    margin: 6px;
    padding: 6px;
    border-style: double;
    border-width: 3px;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.3s;
}

div.section a,
div.section a:visited {
    font-family: 'Times New Roman', Times, serif, "Tinos Nerd Propo";
    text-decoration: underline;
}

body {
    background-size: 100px 50px;
    transition-property: all;
    transition-duration: 0.3s;
}

select {
    font-family: Arial, '楷体', "Tinos Nerd Propo";
    font-size: 24px;
    border-radius: 5px;
    border-width: 3px;
    transition: all 0.2s;
    margin: 4px;
    display: inline-block;
    transition-property: all;
    transition-duration: 0.3s;
}


div#header {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: all;
    transition-duration: 1s;
}

/* This was made with GlassGenerator.netlify.app */
.glass-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    gap: 20px;
    border-radius: 0px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;
}

.header_title,
.header_title a#TitleLink {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

a#TitleLink:active {
    color: inherit;
}

.total_title {
    font-size: 130px;
}

.subtitle {
    font-size: 34px;
    font-family: Arial, Helvetica, sans-serif;
}

p#VersionTitle {
    margin-top: 6px;
    margin-bottom: 4px;
}

p.instructions {
    font-size: 22px;
    font-family: '华文中宋', "Tinos Nerd Propo";
    transition-property: all;
    transition-duration: 0.3s;
}

.centerized {
    font-family: "华文中宋", "Tinos Nerd Propo";
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.centerized strong::after {
    content: "---------------";
}

.centerized strong::before {
    content: "---------------";
}

p.rights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    transition-property: all;
    transition-duration: 0.3s;
}

p.rights span {
    font-family: 'Times New Roman', Times, serif;
    transition-property: all;
    transition-duration: 0.3s;
}

div.bar{
    display: inline-block;
    margin: 0.5em;
}

div.bar div{
    display: inline-block;
    font-size: 20px;
}

div.bar div.bar_inner{
    color: #ffffff;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div.bar div.bar_side  {
    display: inline-block;
}

.bar_side_a{
    margin-right: 0.23em;
}

.bar_side_b{
    margin-left: -0.01em;
}

hr {
    margin: 15px;
    height: 3px;
}

audio {
    border-radius: 15px;
    width: 50%;
    height: 25px;
}