@font-face {
    /* Tinos Nerd Font: https://www.nerdfonts.com/ */
    font-family: "Tinos Nerd Propo";
    src: url(../fonts/TinosNerdFontPropo-Regular.ttf);
}

@font-face {
    font-family: "Source Han Serif";
    src: url("../fonts/SourceHanSerifSC-VF.ttf");
}

:root {
    --color-A: #aaaaaa;
    --color-B: #bbbbbb;
    --universal-font-size: 3vh;
    --card-height: calc(var(--universal-font-size) * 5.6);
}

* {
    margin: 0;
    font-size: var(--universal-font-size);
}

@media screen and (max-width: 1150px) {
    :root {
        --universal-font-size: 2.5vh;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --universal-font-size: 2vh;
    }
}

div.section {
    flex: 1;
    margin: 1vw;
    padding: 1vw;
    border-style: double;
    border-width: 0.4vw;
    border-radius: 1vw;
    transition-property: all;
    transition-duration: 0.3s;
}

div.section a,
div.section a:visited {
    font-family: 'Times New Roman', Times, serif, "Tinos Nerd Propo";
    text-decoration: underline;
}

body {
    background-size: 100px 50px;
    transition-property: all;
    transition-duration: 0.3s;
}

select {
    font-family: Arial, "仿宋", "Tinos Nerd Propo";
    font-size: var(--universal-font-size);
    border-radius: 1vh;
    border-width: 0.4vh;
    max-width: 90%;
    transition: all 0.2s;
    margin: 0.5vh;
    cursor: pointer;
    display: inline-block;
    transition-property: all;
    transition-duration: 0.3s;
}


div#header {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: all;
    transition-duration: 400ms;
}

/* This was made with GlassGenerator.netlify.app */
.glass-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    gap: 20px;
    border-radius: 0px;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: 0px rgba(255, 255, 255, 0.4) solid;
    border-bottom: 0px rgba(40, 40, 40, 0.35) solid;
    border-right: 0px rgba(40, 40, 40, 0.35) solid;
    transition-property: all;
    transition-duration: 300ms;
}

.glass-container:hover {
    opacity: 0.4;
}

.header_title,
.header_title a#TitleLink {
    text-decoration: none;
    font-family: 'Trebuchet MS', Arial, "Tinos Nerd Propo";
    text-align: center;
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

a#TitleLink:active {
    color: inherit;
}

.total_title * {
    font-size: 17vh;
}

.subtitle * {
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitle#VersionTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4vh;
}

@media screen and (max-width: 1000px) {
    .total_title * {
        font-size: 13vw;
    }

    .subtitle#VersionTitle {
        font-size: 4vw;
    }

    .subtitle#ExplanationTitle {
        display: none;
    }
}

p#VersionTitle {
    margin-top: 0.4vw;
    margin-bottom: 0.6vw;
}

form.GachaForm {
    width: 100%;
}

form.GachaForm * {
    font-size: var(--universal-font-size);
    font-family: Arial, "Tinos Nerd Propo", 'Source Han Serif';
}

div#GachaFormInstructionArea *,
div#SpecialFormInstructionArea {
    -webkit-user-select: none;
    user-select: none;
}

form.GachaForm p {
    display: inline;
}

p.TipTitle {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
}

p.instructions {
    font-size: var(--universal-font-size);
    font-family: 'Arial Black', Arial, "Tinos Nerd Propo", 'Source Han Serif';
    transition-property: all;
    transition-duration: 0.3s;
}

p.instructions .emphasis1 {
    color: #ff0000;
    text-shadow: 1px 1px 0 #ffff00, -1px -1px #ff7300;
}

p.instructions .emphasis2 {
    color: #0000ff;
    text-shadow: 1px 1px 0 #3fffff, -1px -1px #1fff00;
}

.centerized {
    font-family: Arial, "Tinos Nerd Propo", 'Source Han Serif';
    text-align: center;
    transition-property: all;
    transition-duration: 0.3s;
}

.centerized strong::after {
    content: "----------";
}

.centerized strong::before {
    content: "----------";
}

.interface_button {
    margin: 0.3vh;
    display: inline-block;
    text-align: center;
    font-size: var(--universal-font-size);
    padding: 1vh;
    -webkit-user-select: none;
    user-select: none;
    font-family: Arial, "Tinos Nerd Propo", 'Source Han Serif';
    background-blend-mode: screen;
    border-style: solid;
    border-radius: 1.4vh;
    border-width: 0.4vh;
    cursor: pointer;
    transition-property: all;
    transition-duration: 300ms;
}

p.rights {
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--universal-font-size);
    transition-property: all;
    transition-duration: 0.3s;
}

p.rights span {
    font-family: 'Times New Roman', Times, serif;
    transition-property: all;
    transition-duration: 0.3s;
}

div.bar {
    display: inline-block;
    margin: 0.5em;
}

div.bar div {
    display: inline-block;
    font-size: var(--universal-font-size);
}

div.bar div.bar_inner {
    color: #ffffff;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

div.bar div.bar_side {
    display: inline-block;
}

.bar_side_a {
    margin-right: 0.23em;
}

.bar_side_b {
    margin-left: -0.01em;
}

div.FormContainer {
    display: flex;
    align-items: stretch;
}

div.FormSection {
    flex-grow: 1;
}

@media screen and (max-width: 950px) {
    div.FormContainer {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
}

hr {
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2%;
    margin-right: 2%;
    height: 0.5vh;
    border-width: 0;
    color: #000;
    background-color: #000;
}

audio {
    border-width: 0.2vw;
    border-style: solid;
    border-radius: 10vw;
    width: 100%;
    height: 6vh;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    top: 100%;
    left: 0;
}