.PoolBox {
    padding: 0.4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 6px 6px;
    border-radius: 2vh;
    border-style: solid;
    min-height: var(--card-height);
    transition-property: all;
    transition-duration: 0.3s;
}

.PoolBox:empty {
    height: var(--card-height);
}

.UpBox,
.CommonBox,
.NonBox {
    transition-property: all;
    transition-duration: 0.3s;
}