.PoolBox {
    margin: 6px 6px;
    border-radius: 3vh;
    border-style: solid;
    min-height: 19vh;
    transition-property: all;
    transition-duration: 0.3s;
}

.PoolBox:empty {
    height: 19vh;
}

.UpBox,
.CommonBox,
.NonBox {
    transition-property: all;
    transition-duration: 0.3s;
}