div.section a,
div.section a:visited {
    background-color: #002727;
    color: #00cdd0;
}

div.section {
    color: #002338;
    border-color: #bbe7e5;
    background-color: #0000008a;
}

body {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='35.584' height='30.585' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(250, 100%, 16%, 1)'/><path d='M36.908 9.243c-5.014 0-7.266 3.575-7.266 7.117 0 3.376 2.45 5.726 5.959 5.726 1.307 0 2.45-.463 3.244-1.307.744-.811 1.125-1.903 1.042-3.095-.066-.811-.546-1.655-1.274-2.185-.596-.447-1.639-.894-3.162-.546-.48.1-.778.58-.662 1.06.1.48.58.777 1.06.661.695-.149 1.274-.066 1.705.249.364.265.546.645.562.893.05.679-.165 1.308-.579 1.755-.446.48-1.125.744-1.936.744-2.55 0-4.188-1.538-4.188-3.938 0-2.466 1.44-5.347 5.495-5.347 2.897 0 6.008 1.888 6.388 6.058.166 1.804.067 5.147-2.598 7.034a.868.868 0 00-.142.122c-1.311.783-2.87 1.301-4.972 1.301-4.088 0-6.123-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.517-4.518-4.094 0-6.439 1.676-8.479 3.545.227-1.102.289-2.307.17-3.596-.496-5.263-4.567-7.662-8.159-7.662-5.015 0-7.265 3.574-7.265 7.116 0 3.377 2.45 5.727 5.958 5.727 1.307 0 2.449-.463 3.243-1.308.745-.81 1.126-1.903 1.043-3.095-.066-.81-.546-1.654-1.274-2.184-.596-.447-1.639-.894-3.161-.546-.48.1-.778.58-.662 1.06.099.48.579.777 1.059.66.695-.148 1.275-.065 1.705.25.364.264.546.645.563.893.05.679-.166 1.307-.58 1.754-.447.48-1.125.745-1.936.745-2.549 0-4.188-1.539-4.188-3.939 0-2.466 1.44-5.345 5.495-5.345 2.897 0 6.008 1.87 6.389 6.057.163 1.781.064 5.06-2.504 6.96-1.36.864-2.978 1.447-5.209 1.447-4.088 0-6.124-1.952-8.275-4.021-2.317-2.218-4.7-4.518-9.516-4.518v1.787c4.088 0 6.123 1.953 8.275 4.022 2.317 2.218 4.7 4.518 9.516 4.518 4.8 0 7.2-2.3 9.517-4.518 2.151-2.069 4.187-4.022 8.275-4.022s6.124 1.953 8.275 4.022c2.318 2.218 4.701 4.518 9.517 4.518 4.8 0 7.2-2.3 9.516-4.518 2.152-2.069 4.188-4.022 8.276-4.022s6.123 1.953 8.275 4.022c2.317 2.218 4.7 4.518 9.517 4.518v-1.788c-4.088 0-6.124-1.952-8.275-4.021-2.318-2.218-4.701-4.518-9.517-4.518-4.103 0-6.45 1.683-8.492 3.556.237-1.118.304-2.343.184-3.656-.497-5.263-4.568-7.663-8.16-7.663z'  stroke-width='1' stroke='none' fill='hsla(250, 100%, 37%, 1)'/><path d='M23.42 41.086a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.38-4.187-3.492-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.265 1.936-.745.414-.447.63-1.076.58-1.755-.017-.248-.2-.629-.547-.893-.43-.315-1.026-.398-1.704-.249a.868.868 0 01-1.06-.662.868.868 0 01.662-1.059c1.523-.348 2.566.1 3.161.546.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm0-30.585a.896.896 0 01-.729-.38.883.883 0 01.215-1.242c2.665-1.887 2.764-5.23 2.599-7.034-.381-4.187-3.493-6.058-6.389-6.058-4.055 0-5.495 2.88-5.495 5.346 0 2.4 1.639 3.94 4.188 3.94.81 0 1.49-.266 1.936-.746.414-.446.629-1.075.58-1.754-.017-.248-.2-.629-.547-.894-.43-.314-1.026-.397-1.705-.248A.868.868 0 0117.014.77a.868.868 0 01.662-1.06c1.523-.347 2.566.1 3.161.547.729.53 1.209 1.374 1.275 2.185.083 1.191-.298 2.284-1.043 3.095-.794.844-1.936 1.307-3.244 1.307-3.508 0-5.958-2.35-5.958-5.726 0-3.542 2.25-7.117 7.266-7.117 3.591 0 7.663 2.4 8.16 7.663.347 3.79-.828 6.868-3.344 8.656a.824.824 0 01-.53.182zm29.956 1.572c-4.8 0-7.2-2.3-9.517-4.518-2.151-2.069-4.187-4.022-8.275-4.022S29.46 5.486 27.31 7.555c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518C6.124 5.486 4.088 3.533 0 3.533s-6.124 1.953-8.275 4.022c-2.317 2.218-4.7 4.518-9.517 4.518-4.8 0-7.2-2.3-9.516-4.518-2.152-2.069-4.188-4.022-8.276-4.022V1.746c4.8 0 7.2 2.3 9.517 4.518 2.152 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.276-4.022C-7.2 4.046-4.816 1.746 0 1.746c4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.318-2.218 4.7-4.518 9.517-4.518 4.8 0 7.2 2.3 9.517 4.518 2.151 2.069 4.187 4.022 8.275 4.022s6.124-1.953 8.275-4.022c2.317-2.218 4.7-4.518 9.517-4.518v1.787c-4.088 0-6.124 1.953-8.275 4.022-2.317 2.234-4.717 4.518-9.517 4.518z'  stroke-width='1' stroke='none' fill='hsla(229, 86%, 42%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-0.34)' fill='url(%23a)'/></svg>");
    background-size: 100%;
}

select {
    border-color: #dddddd;
    background-color: #008284;
    color: #dddddd;
}

select:hover {
    background-color: #00abad;
}

option {
    background-color: #004773;
}

.glass-container {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    background-color: #cce5ee12;
}

.header_title {
    color: #1e1e1e;
    text-shadow: 0.2em -0.2em #ffffff, -0.2em 0.2em #ffffff;
}

.subtitle {
    text-shadow: 2px 2px #ffffff;
}

hr {
    background-color: #e2e2e2;
    color: #e2e2e2;
}

p#VersionTitle {
    text-shadow: 1px 1px #ffffff;
}

p.instructions {
    color: #e2e2e2;
}

div.section p {
    color: #e2e2e2;
}

p.rights {
    color: #002338;
}

p.rights span {
    color: #89ff56;
}

p#TotalCounter {
    color: #e1e1e1;
}

audio {
    border-color: #00a0ab;
}

.interface_button {
    color: #c6c6c6;
    /* https://evankarageorgos.github.io/hue/grid.html */
    background-color: #797572;
    background-image:
        linear-gradient(-173deg, rgba(255, 255, 255, 0.20) 0%, #000000 100%),
        linear-gradient(72deg, rgba(255, 255, 255, 0.25) 25%, rgba(0, 0, 0, 0.25) 100%),
        radial-gradient(47% 102%, rgba(255, 255, 255, 0.50) 0%, rgba(21, 24, 32, 0.60) 120%);
    background-blend-mode: multiply;
    border-color: #cccccc;
    box-shadow: 1px 1px 3px #828282;
    transition-property: all;
    transition-duration: 300ms;
}

.interface_button:hover {
    box-shadow: 2px 2px 11px #cccccc;
    /* https://evankarageorgos.github.io/hue/grid.html */
    background: #282828;
    background-image: linear-gradient(-90deg, #7B7F82 2%, #303136 100%),
        radial-gradient(50% 116%, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%),
        linear-gradient(-59deg, rgba(255, 255, 255, 0.50) 7%, rgba(87, 87, 87, 0.50) 68%, rgba(85, 85, 85, 0.50) 76%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: normal, multiply, multiply;
}

.interface_button:active {
    box-shadow: 2px 2px 11px #cccccc;
    /* https://evankarageorgos.github.io/hue/grid.html */
    background: #A2A2A2;
    background-image: radial-gradient(at 50% 90%, #B8B4B3 0%, #3B3A38 100%);
    background-blend-mode: normal, multiply;
}

input[type="number"] {
    color: #303030;
    background-color: #a5a5a5;
}

input[type="number"]:focus {
    color: #d9d9d9;
    background-color: #303030;
}

.radio_type+label {
    border-color: #9d9d9d;
    background-color: #191919b0;
    color: #9d9d9d;
    box-shadow: 0px 0px 5px #818181;
}

.radio_type:checked+label {
    border-color: #13b1c9;
    background-color: #005b67b0;
    color: #13b1c9;
    box-shadow: 0px 0px 8px #13b1c9;
}

.PoolBox {
    border-color: #00c9bb;
}

.ChronicledBox {
    background-color: #5c005f80;
}

.NonBox {
    background-color: #b9b9b980;
}

.CommonBox {
    background-color: #0099c380;
}

.UpBox {
    background-color: #2df5ff80;
}

.container {
    color: #e1e1e1;
    text-shadow: 0 0 calc(var(--universal-font-size) * 0.06) #2f2f2f;
}

.InventoryBox {
    background-color: #0000008a;
}

.card p {
    background-color: #d3d3d3;
    text-shadow: 0 0 calc(var(--universal-font-size) * 0.1) #dedede;
}